.index-contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
    background-color: aquamarine;
}
.icon-phone, .icon-correo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15px;
    margin: 5px;
}

.text-contact{
    margin: 5px;
}