.main {
    background-color: #fdf2ee;
    
}

.index-contact {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
    background-color: #fbd0b6;

}

.icon-phone,
.icon-mail {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 15px;
    margin: 5px;

}

.text-contact {
    margin: 5px;
}

.logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.logo-img{
    margin-bottom: 3%;
    margin-top: 3%;
    width: 350px;
    height: auto;
}

.historia-img{
    margin-bottom: 3%;
    margin-top: 3%;
    width:15%;
    height: auto;
}
.menu{
    color: #333;
    font-weight: 350;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: #fbd0b6;
    height: 45px;
    padding: 1px;
}
ul{
    padding: 0;
    margin: 0 0 10px 25px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
li{
    margin:30px 30px;
    padding:0px 10px 0px 10px;
    display:inline;
    list-style:none;
    position:relative;
}
.text-info{
    margin-bottom: 3%;
    margin-top: 3%;
    color: #333;
    font-weight: 400;
    font-size: 18px;
    text-align:start;
    text-align: justify;
    letter-spacing: 0.5px;
    padding-top: 6px;
    padding-right: 7.5%;
    line-height: 2;
    padding-left: 7.5%;
}
